---
import { Image } from  'astro:assets'
import Camera from '../assets/camera.svg'
import Arrow from '../assets/back-arrow.svg'

import Church1 from '../images/Photography/Church1.JPG'
import Church2 from '../images/Photography/Church2.JPG'
import Church3 from '../images/Photography/Church3.jpg'
import Church4 from '../images/Photography/Church4.jpg'

import MillenniumPark from '../images/Photography/Millennium park.jpg'
import Lake from '../images/Photography/Lake.jpg'
import Camping from '../images/Photography/Camping.jpg'
import Florida from '../images/Photography/Florida.jpg'

import Stars from '../images/Photography/stars.jpg'
import Flower1 from '../images/Photography/flower1.jpg'
import Flower2 from '../images/Photography/flower2.jpg'
import Darkhill from '../images/Photography/darkhill.jpg'

import Lighthill from '../images/Photography/lighthill.jpg'
import Duck from '../images/Photography/duck.jpg'
import Building from '../images/Photography/building.jpg'
import Pier1 from '../images/Photography/pier.jpg'

import Pier2 from '../images/Photography/pier2.jpg'
import Bikepath from '../images/Photography/bikepath.jpg'
import Trump from '../images/Photography/trump.jpg'
import Walk from '../images/Photography/walk.jpg'
---
<div class="navBar">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/pageProjects">Projects</a></li>
		<li><a href="/photography">Photography</a></li>
	</ul>
	<div class="notification"><p id="notiText"></p></div>
</div>

<div id="popout" ><Image src={Church1} alt="popout" class="popout-image" />
	<p>This is the image info</p>
</div>

<div class="titleBar">
	<Image 
		src={Camera} 
		alt="Camera"
		width="100"
	/>
	<h1>Photography</h1>
</div>

<div class="bigDiv">
<!-- First 4 -->
	<div class="parent">
		<div class="div1"> 
			<!-- 4:3 -->
			<Image
				src={Church1}
				alt="Church1"
				class="vertImage"
				width="900"
				height="1200"
			/>
		</div>
		<div class="div2"> 
			<!-- 4:3 -->
			<Image
				src={Church2}
				alt="Church2"
				class="vertImage"
				width="900"
				height="1200"
			/>
		</div>
		<div class="div3">
			<!-- 2:3 -->
			<Image
				src={Church3}
				alt="Church3"
				class="vertImage"
				width="800"
				height="1200"
			/>
		</div>
		<div class="div4">
			<!-- 2:3 -->
			<Image
				src={Church4}
				alt="Church4"
				class="vertImage"
				width="800"
				height="1200"
			/>
		</div>
	</div>

<!-- Second 4 -->
	<div class="parent">
		<div class="div1"> 
			<!-- 4:3 -->
			<Image
				src={Florida}
				alt="Florida"
				class="vertImage"
				width="900"
				height="1200"
			/>
		</div>
		<div class="div2"> 
			<!-- 4:3 -->
			<Image
				src={Lake}
				alt="Lake"
				class="horImage"
				width="1200"
				height="900"
			/>
		</div>
		<div class="div3">
			<!-- 4:3 -->
			<Image
				src={Camping}
				alt="Camping"
				class="vertImage"
				width="900"
				height="1200"
			/>
		</div>
		<div class="div4">
			<!-- 4:3 -->
			<Image
				src={MillenniumPark}
				alt="Park"
				class="horImage"
				width="1200"
				height="900"
			/>
		</div>
	</div>

<!-- Third 4 -->
	<div class="parent">
		<div class="div1"> 
			<!-- 4:3 -->
			<Image
				src={Stars}
				alt="Stars"
				class="horImage"
				width="1200"
				height="900"
			/>
		</div>
		<div class="div2"> 
			<!-- 4:3 -->
			<Image
				src={Flower1}
				alt="Flower1"
				class="horImage"
				width="1200"
				height="900"
			/>
		</div>
		<div class="div3">
			<!-- 2:3 -->
			<Image
				src={Flower2}
				alt="Flower2"
				class="horImage"
				width="1200"
				height="900"
			/>
		</div>
		<div class="div4">
			<!-- 2:3 -->
			<Image
				src={Darkhill}
				alt="Darkhill"
				class="vertImage"
				width="800"
				height="1200"
			/>
		</div>
	</div>

<!-- Fourth 4 -->
	<div class="parent">
		<div class="div1"> 
			<!-- 4:3 -->
			<Image
				src={Pier1}
				alt="Pier1"
				class="vertImage"
				width="900"
				height="1200"
			/>
		</div>
		<div class="div2"> 
			<!-- 4:3 -->
			<Image
				src={Building}
				alt="Building"
				class="horImage"
				width="1200"
				height="900"
			/>
		</div>
		<div class="div3">
			<!-- 2:3 -->
			<Image
				src={Duck}
				alt="Duck"
				class="horImage"
				width="1200"
				height="900"
			/>
		</div>
		<div class="div4" style="align-items: flex-end;">
			<!-- 2:3 -->
			<Image
				src={Lighthill}
				alt="Lighthill"
				class="horImage"
				width="1200"
				height="900"
				style="object-position: center bottom;"
			/>
		</div>
	</div>

<!-- Fifth 4 -->
	<div class="parent">
		<div class="div1"> 
			<!-- 4:3 -->
			<Image
				src={Pier2}
				alt="Pier2"
				class="horImage"
				width="1200"
				height="900"
			/>
		</div>
		<div class="div2" style="object-position: center bottom;">
			<!-- 4:3 -->
			<Image
				src={Walk}
				alt="Walk"
				class="vertImage"
				width="900"
				height="1200"
				style="object-position: center 30%;"
			/>
		</div>
		<div class="div3" style="object-position: center bottom;">
			<!-- 2:3 -->
			<Image
				src={Trump}
				alt="Trump"
				class="vertImage"
				width="900"
				height="1200"
				style="object-position: center 80%;"
			/>
		</div>
		<div class="div4">
			<!-- 2:3 -->
			<Image
				src={Bikepath}
				alt="Bikepath"
				class="vertImage"
				width="900"
				height="1200"
			/>
		</div>
	</div>
</div>

<style>
	html { font-size: 16px; }
	body {
		margin: 0;
		padding: 0;
		height: 100%;
		width: 100%;
	}
	body.noScroll {
		overflow: hidden;
	}
	.titleBar {
		display: inline-flex;
		gap: 20px;
		text-align: left;
		font-size: 70px;
		margin: 30px 14% 0 14%;
	}
	h1 {
		text-align: center;
	}
	.bigDiv {
		padding: 2% 14%;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	/* Nav Bar */
	.navBar {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 6.5%;
		border-bottom: 2px solid #96a5c3;
		background-color: rgba(47, 47, 64, .7);
	}
	ul {
		margin: 0;
		padding: 0;
	}
	.navBar ul li {
		float: left;
		list-style-type: none;
		padding: 17px;
		transition: transform 0.2s ease;
		color: #ffa066;
	}
	.navbar ul li a {
		display: block;
	}
	.navBar li:hover {
		transform: scale(1.5);
	}

	/* Grid */
	.parent {
		display:grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(4, 1fr);
		grid-column-gap: 10px;
		grid-row-gap: 10px;
	}
	.div1, .div2, .div3, .div4 {
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		height: 650px;
		transition: transform 0.2s ease;
	}
	.div1 { 
		grid-area: 1 / 1 / 3 / 4; 
	}
	.div2 { 
		grid-area: 3 / 3 / 5 / 6; 
	}
	.div3 { 
		grid-area: 3 / 1 / 5 / 3; 
	}
	.div4 { 
		grid-area: 1 / 4 / 3 / 6; 
	}
	.div1:hover, .div2:hover, .div3:hover, .div4:hover {
		transform: scale(1.02);
	}
	.vertImage,
	.horImage {
		object-fit: cover;
		width: 100%;
	    	height: 100%;
	} 

	/* Popout Window */
	#popout {
		display: none;
		position: fixed;
		z-index: 100;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.93);
		justify-content: center;
		align-items: center;
		overflow: auto;
	}
	.popout-image{
		display: inherit;
		max-width: 90vw;
		max-height: 90vh;
		object-fit: contain;
		margin: auto;
	}
	#popout p {
		color: lightgrey;
		position: absolute;
		width: 50%;
		bottom: 25px;
		word-spacing: 20px;
		border-top: 2px solid lightgrey;
	}

</style>
<script>
	document.addEventListener('astro:page-load', () => {
		document.querySelectorAll('.horImage, .vertImage').forEach(picture => {
			picture.addEventListener('click', openPopup);
		});

		document.getElementById("popout").addEventListener('click', closePopup);
	});

	const imageInfo = {
		"Church1": "iPhone16   6.0mm   f/1.6   1/5s   ISO1000   2026.03.09 01:20",
		"Church2": "iPhone16   2.2mm   f/2.2   1/7s   ISO1000   2026.03.09 02:01",
		"Church3": "CanonEOS5D   50.0mm   f/2.5   1/21s   ISO1600   2026.03.09 02:07",
		"Church4": "CanonEOS5D   50.0mm   f/2.5   1/13s   ISO1600   2026.03.09 02:09",
		"Florida": "iPhone16   6.0mm   f/1.6   1/28s   ISO1000   2025.07.04 20:24",
		"Park": "iPhone16   6.0mm   f/1.6   1/122s   ISO50   2025.10.18 17:01",
		"Camping": "iPhone16   6.0mm   f/1.6   1/407s   ISO64   2025.08.03 08:18",
		"Lake": "iPhone16   6.0mm   f/1.6   1/232s   ISO40   2025.08.02 18:55",
		"Stars": "CannonEOS5D   50.0mm   f/5.6   30s   ISO1600   2023.08.09 23:12",
		"Flower1": "CannonEOS5D   50.0mm   f/5.6   1/640s   ISO1000   2023.08.09 21:15",
		"Flower2": "CannonEOS5D   50.0mm   f/5.6   1/640s   ISO1000   2023.08.09 21:14",
		"Darkhill": "CannonEOS5D   50.0mm   f/5.6   1/1250s   ISO1600   2023.08.09 21:52",   
		"Pier1": "CannonEOS5D   50.0mm   f/2.5   1/3200s   ISO125   2022.11.18 15:24",
		"Pier2": "CannonEOS5D   50.0mm   f/2.8   1/3200s   ISO160   2022.11.18 12:48",
		"Building": "CannonEOS5D   50.0mm   f/2.5   1/400s   ISO125   2022.11.18 15:20",
		"Duck": "CannonEOS5D   50.0mm   f/2.5    1/8000s   ISO160   2022.11.21 11:32",
		"Lighthill": "CannonEOS5D   50.0mm   f/5.6   1/320s   ISO1600   2023.08.09 21:57",
		"Walk": "CannonEOS5D   50.0mm   f/2.5   1/8000s   ISO100   2022.11.21 11:38",
		"Trump": "CannonEOS5D   50.0mm   f/2.8   1/4000s   ISO160   2022.11.18 13:22",
		"Bikepath": "CannonEOS5D   50.0mm   f/2.8   1/4000s   ISO160   2022.11.18 13:00"
	}

	function openPopup(event){
		const bg = document.getElementById('popout');
		const image = bg.querySelector('.popout-image');
		const info = bg.querySelector('p');
		const clickMe = document.querySelector('.clickMe');
		image.src = event.target.src;
		info.innerHTML = imageInfo[event.target.alt];
		bg.style.display = "flex";
		clickMe.classList.add('hide');
		document.body.classList.add('noScroll')	
	}

	function closePopup() {
		const bg = document.getElementById('popout');
		bg.style.display = "none";
		document.body.classList.remove('noScroll')	
	}
</script>
