---
import { Image } from 'astro:assets';

import BearBanking from '../images/bearBanking.png'
import TuiPassmanager from '../images/tuiPassmanager.png'
import Blackjack from '../images/blackjack.png'

import GithubImage from '../assets/github.svg'
import Folder from '../assets/folder.svg'

import Python from '../assets/python.svg'
import Java from '../assets/java.svg'
import JavaScript from '../assets/javascript.svg'
import Html from '../assets/html.svg'
import Css from '../assets/css.svg'
import Sqlite from '../images/sqlite.png'
import Sqlite2 from '../assets/sqlite2.svg'
import NodeJS from '../assets/nodejs.svg'
import Docker from '../assets/docker.svg'
import Git from '../assets/git.svg'
---

<!-- NavBar -->
<div class="navBar">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/pageProjects">Projects</a></li>
		<li><a href="/photography">Photography</a></li>
	</ul>
	<div class="notification"><p id="notiText"></p></div>
</div>

<div class="titleBar">
	<Image 
		src={Folder} 
		alt="Folder"
		width="100"
	/>
	<h1>Projects</h1>
</div>

<div id="featuredProjects">

<!-- Tui Passmanager -->
	<div class="project box">
		<div class="projectImage">
			<a href="/projects/tui-passmanager">
				<Image
					src={TuiPassmanager}
					alt="Tui Passmanager"
					transition:name="project-img-tui-passmanager"
					style="border-radius: 10px;"
				/>
			</a>
		</div>
		<div class="lowerProject">
			<div class="projectTitle">
				<a href="/projects/tui-passmanager">Tui Passmanager</a>
				<div>
					<span>December 2025</span>
				</div>
			</div>
			<div class="projectBody">
				<a href="/projects/tui-passmanager">Tui Passmanager is a terminal based password manager that securely stores and retrieves passwords from a local database.</a>
			</div>
			<div class="tags">
				<div class="tag">
					<p>Python</p>
					<img src={Python.src} style="width: 15px;">
				</div>
				<div class="tag">
					<p>SQLite</p>
					<img src={Sqlite2.src} style="width: 15px;">
				</div>
			</div>
		</div>
	</div>

<!-- Bear Banking -->
	<div class="project box">
		<div class="projectImage">
			<a href="/projects/bear-banking">
				<Image
					src={BearBanking}
					alt="Bear Banking"
					transition:name="project-img-bear-banking"
					style="border-radius: 10px;"
				/>
			</a>
		</div>
		<div class="lowerProject">
			<div class="projectTitle">
				<a href="/projects/bear-banking">Bear Banking</a>
				<div>
					<span>November 2025</span>
				</div>
			</div>
			<div class="projectBody">
				<a href="/projects/bear-banking">The Bear Banking dashboard is a bear themed dashboard designed for college students to track their finances.</a>
			</div>
			<div class="tags">
				<div class="tag">
					<p>Node.js</p>
					<img src={NodeJS.src} style="width: 15px;">
				</div>
				<div class="tag">
					<p>Docker</p>
					<img src={Docker.src} style="width: 15px;">
				</div>
				<div class="tag">
					<p>HTML</p>
					<img src={Html.src} style="width: 15px;">
				</div>
				<div class="tag">
					<p>CSS</p>
					<img src={Css.src} style="width: 15px;">
				</div>
				<div class="tag">
					<p>SQLite</p>
					<img src={Sqlite2.src} style="width: 15px;">
				</div>
			</div>
		</div>
	</div>

<!-- Blackjack -->
	<div class="project box">
		<div class="projectImage">
			<a href="/projects/blackjack">
				<Image
					src={Blackjack}
					alt="Blackjack"
					transition:name="project-img-blackjack"
					style="border-radius: 10px;"
				/>
			</a>
		</div>
		<div class="lowerProject">
			<div class="projectTitle">
				<a href="/projects/blackjack">Blackjack</a>
				<div>
					<span>August 2025</span>
				</div>
			</div>
			<div class="projectBody">
				<a href="/projects/tui-passmanager">Free blackjack in the browser. Play 1 on 1 with the Dealer.</a>
			</div>
			<div class="tags">
				<div class="tag">
					<p>JavaScript</p>
					<img src={JavaScript.src} style="width: 15px;">
				</div>
				<div class="tag">
					<p>HTML</p>
					<img src={Html.src} style="width: 15px;">
				</div>
				<div class="tag">
					<p>CSS</p>
					<img src={Css.src} style="width: 15px;">
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	html { font-size: 16px; }
	body {
		margin: 0;
		padding: 0;
	}
	.titleBar {
		display: inline-flex;
		gap: 20px;
		text-align: left;
		font-size: 70px;
		margin: 30px 14% 0 14%;
	}

/* Nav Bar */
	.navBar {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 5%;
		border-bottom: 2px solid black;
		overflow: hidden;
	}
	ul li {
		float: left;
		list-style-type: none;
		transition: transform 0.2s ease;
	}
	ul li a {
		display: block;
		padding: 17px;
	}
	li:hover {
		transform: scale(1.5);
	}

/* Notification */
	.notification {
		position: absolute;
		right: 15px;
		text-align: center;
		border: 2px solid black;
		width: fit-content;
		padding: 10px 20px;
		border-radius: 15px;
		background-color: #1148a1;
		color: #FFFFFF;
		transform: translateY(-200%);
	}
	.notification.show {
		animation-name: noti;
		animation-duration: 5s;
		animation-fill-mode: forwards;
	}
	@keyframes noti {
		0% {transform: translateY(-200%)}
		20% {transform: translateY(0%)}
		80% {transform: translateY(0%)}
		100% {transform: translateY(-200%)}
	}
	.disable_click {
		pointer-events: none;
	}

/*Projects */
	#featuredProjects {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
		padding: 2% 14%;
	}
	.project {
		display: flex;
		flex-direction: column;
		border: 2px solid black;
		border-radius: 16px;
		box-shadow: 5px 5px 1px darkgrey;
	}
	.projectImage {
		padding: 10px;
	}
	.lowerProject {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		border-top: 2px solid black;
	}
	.projectTitle {
		display: inline-flex;
		justify-content: space-between;
		padding: 5px;
		font-size: 20px;
	}
	.projectTitle span {
		font-size: 15px;
		color: grey;
	}
	.projectBody {
		padding: 5px;
		color: #3E3E3E;
		padding-left: 10px;
	}
	.tags {
		display: flex;
		gap: 5px;
		font-size: 13px;
		padding: 10px;
	}
	.tag {
		border: 2px solid black;
		border-radius: 7px;
		padding: 2px 5px;
		display: inline-flex;
		gap: 5px;
	}

</style>
<script>

	function init() {
		const notification = document.querySelector('.notification');
		const text = document.getElementById('notiText');
		document.querySelectorAll('a[href="javascript:void(0)"]').forEach(link => {
			link.addEventListener('click', unfinishedPage);
		});
		function unfinishedPage(event) {
			const a = event.currentTarget;
			event.preventDefault();
			notification.classList.remove('show');
			void notification.offsetWidth;
			text.innerHTML = "Sorry, that page isn't finished yet";
			notification.classList.add('show');
			a.classList.add('disable_click');
			setTimeout(() => a.classList.remove('disable_click'), 5000);
		}
	}
	document.addEventListener('astro:page-load', init);
</script>
