---
import { Image } from 'astro:assets';
import BearBanking from '../../images/bearBanking.png';
import GithubImage from '../../assets/github.svg';
import NodeJS from '../../assets/nodejs.svg';
import Docker from '../../assets/docker.svg';
import Html from '../../assets/html.svg';
import Css from '../../assets/css.svg';
import Sqlite2 from '../../assets/sqlite2.svg';
import Page from '../../assets/page.svg';

const { slug } = Astro.props;
---

<div id="projectPage">
	<div id="hero" class="box">
		<Image 
			src={BearBanking}
			alt="Bear Banking"
			transition:name={`project-img-${slug}`}
			style="border-radius: 10px; border: 2px solid black; width: 100%; height: auto;"
		/>
	</div>

	<div id="projectDetails" class="box">
		<div id="projectHeader">
			<h1>Bear Banking</h1>
			<div>
				<a class="sourcetag" href="https://bearbanking.onrender.com" target="_blank">
					<p>Demo</p>
					<img src={Page.src} style="width: 20px;">
				</a>
				<a class="sourcetag" href="https://github.com/Effervescent808/BearBanking" target="_blank">
					<p>Source</p>
					<img src={GithubImage.src} style="width: 20px;">
				</a>
			</div>
		</div>

    		<div class="tags">
      			<div class="tag"><p>Node.js</p><img src={NodeJS.src} style="width: 20px;"></div>
			<div class="tag"><p>Docker</p><img src={Docker.src} style="width: 20px;"></div>
			<div class="tag"><p>HTML</p><img src={Html.src} style="width: 20px;"></div>
			<div class="tag"><p>CSS</p><img src={Css.src} style="width: 20px;"></div>
			<div class="tag"><p>SQLite</p><img src={Sqlite2.src} style="width: 20px;"></div>
		</div>

		<div id="projectBody">
			<div class="textDiv">
				<h2>Overview</h2>
				<p class="projectBody">Bear Banking is finance tracking dashboard designed for college students to track and budget their spendings and savings. It is built on the Node.js runtime environment and utilizes a custom RESTful API using Express.js and SQLite to store and retrieve user data for persistent use. The front-end is simple HTML and CSS to keep loadtimes as fast as possible.</p>
			</div>
			<div class="textDiv">
				<h2>Architecture</h2>
				<p>The system follows a simple RESTful get/post architecture:</p>
				<ul class="outerList">
					<li><b>Frontend:</b> The frontend is written with simple HTML and CSS for easy navigation and use. The colors are both matching with our bear mascot (seen on the login page) and are easy on the eyes in both light and dark environments.</li><br>
					<li><b>Backend/Database:</b> The backend uses a custom RESTful API that written in Node.js to pass data between the SQLite database and the frontend. Node.js also handles the startup of a webserver to serve the static pages, as well as any error handling that needs to be done with http requests.</li>
				</ul>
			</div>
			<div class="textDiv">
				<h2>Features</h2>
				<ul class="outerList">
					<li>Accounts
						<ul class="innerList">
							<li>For personal and persistent data storage</li>
						</ul>
					</li>
					<li>Transaction History
						<ul class="innerList">
							<li>Used to track recent spending habits</li>
						</ul>
					</li>
					<li>Account Balance
						<ul class="innerList">
							<li>Finds spending room between income and expenses</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<style>
/* Body Style */
  	#projectPage {
    		width: 100%;
		display: flex;
		justify-content: center;
		padding: 2% 14%;
		padding-top: 5%;
		flex-direction: column;
		gap: 35px;
  	}
	.box {
    		display: flex;
    		height: auto;
    		box-sizing: border-box;
    		border: 2px solid #7686a6;
    		border-radius: 16px;
    		padding: 15px;
  	}
  	#hero {
    		padding: 10px;
  	}
  	#projectDetails {
    		flex-direction: column;
    		gap: 20px;
  	}
  	#projectHeader {
    		display: flex;
    		justify-content: space-between;
    		align-items: center;
		border-bottom: 2px solid #7686a6;
		color: #ffa066;
  	}

/* Body Text */
  	h1 {
    		font-size: 50px;
    		margin: 0;
  	}
	h2 {
		font-size: 40px;
		color: #ffa066;
		margin: 0;
		text-align: center;
	}
	.projectBody {
    		color: #96a5c3;
	}
  	#projectBody {
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 2% 20%;
		font-size: 20px;
  	}
	.textDiv {
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 0 30px 40px 30px;
		border-bottom: 2px solid #7686a6;
	}
	.outerList {
		list-style-type: disc;
		padding: 10px 30px;
	}
	.innerList {
		list-style-type: circle;
		padding: 10px;
	}

/* Tags */
  	.tags {
    		display: flex;
    		gap: 5px;
    		flex-wrap: wrap;
  	}
  	.tag {
    		border: 2px solid #7686a6;
    		border-radius: 7px;
    		padding: 2px 5px;
    		display: inline-flex;
    		gap: 5px;
  	}
  	.sourcetag {
    		border-width: 1px 3px 3px 1px;
    		border-radius: 10px;
    		padding: 7px 13px;
    		display: inline-flex;
    		gap: 5px;
    		transition: border-width 0.1s ease;
    		text-decoration: none;
    		color: inherit;
  	}
  	.sourcetag:hover {
    		border-width: 3px 1px 1px 3px;
  	}

/* mobile support */
  	@media (max-width: 600px) {
    		#projectPage {
      			padding: 2%;
    		}
    		.box {
      			padding: 2%;
    		}
  	}
</style>
