---
import { Image } from 'astro:assets';
import TuiPassmanager from '../../images/tuiPassmanager.png';
import GithubImage from '../../assets/github.svg';
import Python from '../../assets/python.svg';
import Sqlite2 from '../../assets/sqlite2.svg';

const { slug } = Astro.props;
---

<div id="projectPage">
	<div id="hero" class="box">
    		<Image
      			src={TuiPassmanager}
      			alt="Tui Passmanager"
      			transition:name={`project-img-${slug}`}
      			style="border-radius: 10px; border: 2px solid black; width: 100%; height: auto;"
    		/>
  	</div>

  	<div id="projectDetails" class="box">
    		<div id="projectHeader">
      			<h1>Tui Passmanager</h1>
      			<a class="sourcetag" href="https://github.com/Effervescent808/Password-Manager" target="_blank">
        			<p>Source</p>
        			<img src={GithubImage.src} style="width: 20px;">
      			</a>
    		</div>

    		<div class="tags">
      			<div class="tag"><p>Python</p><img src={Python.src} style="width: 20px;"></div>
      			<div class="tag"><p>SQLite</p><img src={Sqlite2.src} style="width: 20px;"></div>
    		</div>

		<div id="projectBody">
			<div class="textDiv">
				<h2>Overview</h2>
				<p class="projectBody">The Tui Passmanager is an all in one termial based solution for creating, storing and retrieving your passwords and usernames for all your favorite websites.</p>
			</div>
			<div class="textDiv">
				<h2>Features</h2>
				<ul class="outerList">
					<li>Encrypted Password Storage
						<ul class="innerList">
							<li>Uses a rotation cypher with a changing key alongside a bitwise xor cypher to securely encrypt and store passwords.</li>
						</ul>
					</li>
					<li>Password Generation
						<ul class="innerList">
							<li>Generates a random password on a length of your choice (defualt is 16), with numbers, letters, and symbols.</li>
						</ul>
					</li>
					<li>Multiple Account Handling
						<ul class="innerList">
							<li>Can store multiple usernames and passwords for any website along with handling the adding of more or removal of accounts in a way that makes each of them easy differentiate.</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
  	</div>
</div>

<style>
/* Body Style */
  	#projectPage {
    		width: 100%;
		display: flex;
		justify-content: center;
		padding: 2% 14%;
		padding-top: 5%;
		flex-direction: column;
		gap: 35px;
  	}
	.box {
    		display: flex;
    		height: auto;
    		box-sizing: border-box;
    		border: 2px solid #7686a6;
    		border-radius: 16px;
    		padding: 15px;
  	}
  	#hero {
    		padding: 10px;
  	}
  	#projectDetails {
    		flex-direction: column;
    		gap: 20px;
  	}
  	#projectHeader {
    		display: flex;
    		justify-content: space-between;
    		align-items: center;
		border-bottom: 2px solid #7686a6;
		color: #ffa066;
  	}

/* Body Text */
  	h1 {
    		font-size: 50px;
    		margin: 0;
  	}
	h2 {
		font-size: 40px;
		color: #ffa066;
		margin: 0;
		text-align: center;
	}
	.projectBody {
    		color: #96a5c3;
	}
  	#projectBody {
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 2% 20%;
		font-size: 20px;
  	}
	.textDiv {
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 0 30px 40px 30px;
		border-bottom: 2px solid #7686a6;
	}
	.outerList {
		list-style-type: disc;
		padding: 10px 30px;
	}
	.innerList {
		list-style-type: circle;
		padding: 10px;
	}

/* Tags */
  	.tags {
    		display: flex;
    		gap: 5px;
    		flex-wrap: wrap;
  	}
  	.tag {
    		border: 2px solid #7686a6;
    		border-radius: 7px;
    		padding: 2px 5px;
    		display: inline-flex;
    		gap: 5px;
  	}
  	.sourcetag {
    		border-width: 1px 3px 3px 1px;
    		border-radius: 10px;
    		padding: 7px 13px;
    		display: inline-flex;
    		gap: 5px;
    		transition: border-width 0.1s ease;
    		text-decoration: none;
    		color: inherit;
  	}
  	.sourcetag:hover {
    		border-width: 3px 1px 1px 3px;
  	}

/* mobile support */
  	@media (max-width: 600px) {
    		#projectPage {
      			padding: 2%;
    		}
    		.box {
      			padding: 2%;
    		}
  	}
</style>
